<app-banner-main [item] ="toClass" ></app-banner-main>
<div class="main-content">
    <div class="fluid-container">
        <div class="content-wrapper">
            <!-- PROJECTS -->
            <div class="page-section" id="projects">
                <div class="row projects-holder" *ngIf="clas">
                    <div class="col-md-12 col-sm-6">
                        <div class="project-item" *ngFor="let cla of clas">
                            <h2>{{cla.name}}</h2>
                            <ul>
                                <li>{{cla.startDate}}</li>
                                <li>{{cla.endDate}}</li>
                            </ul>
                            <div class="social-icons">
                                <ul>
                                    <li (click)="deleteClass(cla)">
                                       <i class="fa fa-trash" aria-hidden="true" ></i>
                                    </li>
                                    <li (click)="editClass(cla)" >
                                        <a  ><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                <div>
                    <hr />
                    <br />
                    <h2 >Add New Class <a routerLink='/addclass'><i class="fa fa-plus" aria-hidden="true"></i></a> </h2>
                    <br />
                    <router-outlet  ></router-outlet>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>
