<app-banner-main [item] ="toClass" ></app-banner-main>
<div class="main-content">
    <div class="fluid-container">
        <div class="content-wrapper">
            <!-- PROJECTS -->
            <div class="page-section" id="projects">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="widget-title">Class details</h4>
                    </div>
                </div>
                <div class="row projects-holder" *ngIf="clas">
                    <div class="col-md-12 col-sm-6">
                        <div class="project-item" *ngFor="let cla of clas">
                            <h2>{{cla.name}}</h2>
                            <ul>
                                <li>{{cla.startDate}}</li>
                                <li>{{cla.endDate}}</li>
                            </ul>
                            <div class="social-icons">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                <div>
                    <hr />
                    <br />
                    <h1>New Class? Click here...<i class="fa fa-plus" aria-hidden="true"></i></h1>
                    <br />
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>
