<div>
    <!-- Default form register -->
    <form class="text-center border border-light p-5">

        <p class="h4 mb-4">Teacher</p>

        <div class="form-row mb-4">
            <div class="col">
                <!-- First name -->
                <input type="text" id="defaultRegisterFormFirstName" class="form-control"
                    placeholder="First name" name="first name">
            </div>
            <div class="col">
                <!-- Last name -->
                <input type="text" id="defaultRegisterFormLastName" class="form-control"
                    placeholder="Last name" name="last name">
            </div>
        </div>

        <!-- Salary -->
        <input type="text" id="defaultRegisterFormSalary" class="form-control mb-4" placeholder="salary"
            name="salary">

        <!-- experience -->
        <input type="text" id="defaultRegisterFormPassword" class="form-control" placeholder="experience"
            name="experience" aria-describedby="defaultRegisterFormPasswordHelpBlock"><br>


        <!-- Gender -->
        <input type="text" id="defaultRegisterFormGender" class="form-control mb-4" placeholder="gender"
            name="gender">

        <!-- Phone number -->
        <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number"
            name="mobile" aria-describedby="defaultRegisterFormPhoneHelpBlock">

        <!-- Add button -->
        <button block="true" class="my-4 btn btn-primary" type="submit">Add</button>
    </form>
    <!-- Default form register -->

    <hr />
    <!-- Default form register -->
    <form class="text-center border border-light p-5">

        <p class="h4 mb-4">Edit Teacher</p>

        <div class="form-row mb-4">
            <div class="col">
                <!-- First name -->
                <input type="text" id="defaultRegisterFormFirstName" class="form-control"
                    placeholder="First name" name="first name">
            </div>
            <div class="col">
                <!-- Last name -->
                <input type="text" id="defaultRegisterFormLastName" class="form-control"
                    placeholder="Last name" name="last name">
            </div>
        </div>

        <!-- Salary -->
        <input type="text" id="defaultRegisterFormSalary" class="form-control mb-4" placeholder="salary"
            name="salary">

        <!-- experience -->
        <input type="text" id="defaultRegisterFormPassword" class="form-control" placeholder="experience"
            name="experience" aria-describedby="defaultRegisterFormPasswordHelpBlock"><br>


        <!-- Gender -->
        <input type="text" id="defaultRegisterFormGender" class="form-control mb-4" placeholder="gender"
            name="gender">

        <!-- Phone number -->
        <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number"
            name="mobile" aria-describedby="defaultRegisterFormPhoneHelpBlock">

        <!-- Add button -->
        <button block="true" class="my-4 btn btn-primary" type="submit">Edit</button>
    </form>
    <!-- Default form register -->

</div>
