<div>
     <!-- <form  (ngSubmit)="onSubmit()" class="p-5">  -->
        <!-- <h1 *ngIf="isAddMode">Add Teacher</h1>
        <h1 *ngIf="!isAddMode">Edit Teacher</h1>        -->
        <!-- <h2>New Teacher </h2><br> -->
        <form  (ngSubmit)="AddTeacher()" class="p-5"> 
        <div class="form-group">
           <label>FIRSTNAME</label>
           <input type ="text" class="form-control" name="firstName"  [(ngModel)]="teacherItem.firstName"><br>   
         </div>
       <div class="form-group">
         <label>LASTNAME</label>
         <input type ="text" class="form-control" name="lastName"  [(ngModel)]="teacherItem.lastName"><br>   
       </div>
       <div class="form-group">
         <label>SALARY</label>
         <input type ="text" class="form-control" name="salary" [(ngModel)]="teacherItem.salary"><br>
       </div>
       <div class="form-group">
         <label>EXPERIENCE</label>
         <input type ="text" class="form-control" name="experience" [(ngModel)]="teacherItem.experience"><br>   
       </div> 
       <div class="form-group">
         <label>GENDER</label>
       <input type ="text"name="gender" [(ngModel)]="teacherItem.gender"><br>
       </div>
       <div class="form-group">
        <label>MOBILE</label>
      <input type ="tel"name="mobile" [(ngModel)]="teacherItem.mobile"><br>
      </div>
       <input type="submit" value="Submit">
       <!-- <input  /> -->
       <!-- <input type="submit" value="Submit" id="submits">Add</input> -->
     </form>
   </div>



