<!-- 
<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2> <b>{{title|uppercase}}</b></h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i><a routerLink="/course/add"> Add New</a></button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Total Hour</th>
                        <th>Start date</th>
                        <th>Start date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vh of listData"(click)="onclickvh(vh)" >
                        <td  > {{ vh.name}}</td> 
                        <td  > {{ vh.total_hour}}</td>
                        <td  > {{ vh.createdAt|date}}</td>
                        <td  > {{ vh.createdAt|custom}}</td>
                        <!-- <td  > {{ vh.createdAt|date:'d/M/yy'}}</td> --
                        <td class="col-2">
                            <!-- <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a> --
                            <a class="edit" (click)="edit(vh)" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" (click)="del(vh)"  title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                            <!-- <mat-icon>edit</mat-icon> --
                        </td>
                    </tr>    
                </tbody>
            </table>
            <div *ngIf="update">
                <app-addcourse [h2]="heading" [subject]="currentSubject" (changed)="updateDone($event)"></app-addcourse>
            </div>
        </div>
    </div>
</div>   -->

<div class="viewcourse">
    <div class="row">
        <div class="col-sm-8"><h2> <b>{{title|uppercase}}</b></h2></div>
        <div class="col-sm-4">
            <button routerLink="/course/add" mat-raised-button color="primary">Add New</button>
        </div>
    </div>
    <div class="coursecard" *ngFor="let vh of listData" >
        <app-coursecard [subject]="vh" (changed)="updateDone($event)" (deleted)="del($event)"></app-coursecard>     
    </div>
</div>