
<div class="col form ml-3 mb-5">
        <h2>{{h2}}</h2>
         --<p>{{subject|json}}</p> --
          <div class="row">
            Enter course:
            <input type="text" [(ngModel)]="course" />
          </div>
          <div class="row">
            Enter total hour:
            <input type="text"  [(ngModel)]="hour" />
          </div>
          <div class="col-5">
          
            <input type="button" class="btn btn-primary"  name="save" (click)="save()" value="Save" />
            <a class="ml-5" routerLink ="/course/view">Go to course list</a>
          </div>
</div> 
