<div class="well">
    <div class="row">
        <div class="col">
          <div *ngIf="listData">
            <h3>{{title|uppercase}}</h3>
            <table class="list-group">
              <tr *ngFor="let vh of listData"  class="list-group-item list-group-item-action " >
                <td> {{ vh.course_name}}</td>
               
              </tr>
            </table>
      
      
          </div>
        </div>
        <div class="col form">
          <div class="row">
            Enter course:
            <input type="text" [(ngModel)]="course" />
          </div>
          <div class="row">
            Enter deptartment:
            <input type="text"  [(ngModel)]="dept" />
          </div>
          <div class="col-5">
          
            <input type="button"  name="save" (click)="save()" value="save" />
          </div>
        </div>
      </div>
    