<div class="sidebar-menu hidden-xs hidden-sm">
    <div class="top-section">
        <div class="profile-image">
            <img src="../../assets/teacherprofile.jpg" alt="Volton">
        </div>
        <h3 class="profile-title">Student&Teacher</h3>
        <p class="profile-description">Management App</p>
    </div> 
    <div class="main-navigation">
        <ul class="navigation">
            <li><a routerLink="/school"><i></i>School</a></li>
            <li><a href="#" routerLink="teacher"><i></i>Teacher</a></li>
            <li><a routerLink="/course"><i></i>Course</a></li>
            <li><a routerLink="/student"><i></i>Student</a></li>
            <li><a href="#" 
                routerLink="class"><i></i>Class</a></li>
                <li><a 
                    (click)="logoutUser()"><i></i>Logout</a></li>
        </ul>
    </div> 
</div>
