<div class="sidebar-menu hidden-xs hidden-sm">
    <div class="top-section">
        <div class="profile-image">
            <img src="../../assets/teacherprofile.jpg" alt="Volton">
        </div>
        <h3 class="profile-title">Student&Teacher</h3>
        <p class="profile-description">Management App</p>
    </div> 
    <div class="main-navigation">
        <ul class="navigation">
            <li><a href="#"><i></i>Student</a></li>
            <li><a href="#"><i></i>Teacher</a></li>
            <li><a href="#"><i></i>Course</a></li>
            <li><a href="#"><i></i>Class</a></li>
        </ul>
    </div> 
</div>
