<app-banner-main [item] ="toTeacher" ></app-banner-main>
<div class="main-content">
    <div class="fluid-container">
        <div class="content-wrapper">
            <!-- PROJECTS -->
            <div class="page-section" id="projects">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="widget-title">Teacher details</h4>
                    </div>
                </div>
                <div class="row projects-holder">
                    <div class="col-md-12 col-sm-6">
                        <div class="project-item">
                            <h2>name</h2>
                            <ul>
                                <li>salary</li>
                                <li>experience</li>
                                <li>gender</li>
                                <li>mobile</li>
                            </ul>
                            <div class="social-icons">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                <div>
                    <hr />
                    <br />
                    <h1>New teacher? Click here...<i class="fa fa-plus" aria-hidden="true"></i></h1>
                    <br />
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>