
          <app-banner-school></app-banner-school>
        <div class="col form mb-5 wrap">
           
             
              <div class="ml-3" *ngIf="listData">
              <h3 style="text-align:center">{{title}}</h3> 

           

      <!-- For listing school as card from list component -->
               <ul *ngFor="let vh of listData" >
                <app-list  [school]="vh" (changed)="updateDone($event)" (deleted)="del($event)"></app-list>
              </ul>
       <!-- End of listing school as card from list component -->

              <button class="btn btn-primary" routerLink="/school/add" mat-raised-button color="primary">Add New</button>

             
              <!-- <table class="list-group">
                <tr class="row"  *ngFor="let vh of listData"  class="list-group-item list-group-item-action " >
                  <td class="col-3" > {{ vh.schoolName}}</td> 
                  <td class="col-2"  > {{ vh.registerNumber}}</td> 
                  <td class="col-3" > {{ vh.email}}</td> 
                  <td class="col-2"  > {{ vh.mobile}}</td> 
                </tr>
              </table> -->
           </div>
           <!-- <h2>Add a School</h2>
            <div class="row">
              Enter school:
              <input type="text" [(ngModel)]="name" />
            </div>
            <div class="row">
                Enter register number:
                <input type="text" [(ngModel)]="reg" />
              </div>
              <div class="row">
                Enter mobile:
                <input type="text" [(ngModel)]="mobile" />
              </div>
            <div class="row">
              Enter email id:
              <input type="text"  [(ngModel)]="email" />
            </div>
            <div class="col-5"> -->
            
              <!-- <input type="button" class="btn btn-primary"  name="save" (click)="save()" value="save" /> -->
              <!-- <input type="button" class="btn btn-primary" name="edit"  value="Edit" />
              <input type="button" class="btn btn-primary" name="delete"  value="Delete" /> -->
            <!-- </div> -->
          </div>
        
       
